@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Kdam Thmor Pro", sans-serif;
}
